<div class="container">
  <h1>Books Review</h1>
  <nav >
    <a class="btn btn-dark" routerLink="/dashboard/new-books">New Books </a>
    <a class="btn btn-dark" routerLink="/dashboard/books-added">Book Added</a>


    <a class="btn btn-dark" routerLink="/dashboard/add-book">Add New Book</a>

    <a class="btn btn-dark" routerLink="/dashboard/books-reviewed">Books Reviewed</a>

    <a class="btn btn-danger fa-pull-right" (click)="redirectToLogut()">Logout</a>
  </nav>
</div>
<span class="clearfix"></span>


<router-outlet></router-outlet>



